
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #f2f2f2;   
}
.swiper{
    width: 950px;
}
section{
    position:relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
}
section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #7d2ae8;
}
section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%; 
    border: 3px solid #fff;  
}
.card{
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    
}
.card::before{
    content: '';
    position: absolute;
    height: 45%;
    width: 100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.card .media-icon{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icon i{
    color: #fff;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .media-icon i:hover{
    opacity: 1;
}
.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}
.name-profession .name{
    font-size: 20px;
    font-weight: 600;
}
.name-profession .profession{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
.card .rating{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.card .rating i{
    font-size: 15px;
    margin: 0 2px;
    color: #7d2ae8;
}
.card .button{
display: flex;
justify-content: space-around;
width: 100%;
margin-top: 20px;
}
.card .button button{
    background: #9352e7;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 18px;
    border-radius:20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button button:hover{
background: #6c05f2;
}
.swiper-pagination-bullet{
height: 7px;
width: 26px;
border-radius: 25px;
background:#7d2ae8;
}
.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: #7d2ae8;
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity:1;
    color: #7d2ae8;
}