@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #141111;
  color: aliceblue;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

.accordion {
  max-width: 700px;
  width: 100%;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.accordion__item--header {
  background-color: #003249;
  padding: 1.2rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.accordion__item.active .accordion__item--header {
  background-color: #33a0ff;
}

.accordion__item.active .bxs-chevron-down {
  transform: rotate(180deg);
}

.accordion__item.active .accordion__item--body {
  height: auto;
  padding: 1.6rem;
  line-height: 2rem;
}

.accordion__item--header p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.accordion__item--header .icon-title {
  margin-right: 1.2rem;
}

.accordion__item--header .circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion__item--header .circle .bx {
  color: #141111;
}

.accordion__item--header .circle .bxs-chevron-down {
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.4s ease-out;
}

.accordion__item--body {
  overflow: hidden;
  height: 0;
  background-color: #202b2f;
  transition: all 0.4s ease-out;
}
